*{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

.first-block{
    color: #fff;
    height: 660px;
    text-align: center;
}
.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}
.bg-hotel {
    background: url(../img/kollaj.jpg) no-repeat center;
    background-size:  cover;
    width: 100%;
    height: 600px;
    padding: 25px;
    position: relative;
}
.container-max {
    width: 100%;
}
.container {
    width: 100%;
}
.cont-flex {
    display: flex;
    justify-content: space-between;
}
.mt {
    margin-top: 100px;
}
.p20 {
    padding: 20px;}
.mt-50 {
    margin-top: 50px;
}
.mtb15 {
    margin: 15px 0;
}
.white {
    background: #ffffff;
}
.black {
    background: rgba(0, 0, 0, 0.3)!important;
}
.white-font {
    color: #fff;
}
.green {
    background-color: #51b328 !important;
}

/*end */

.logo-rus {
    width: 160px;
    margin-bottom: -18px;
}
@media only screen and (min-width: 601px){
    nav , nav ul a {
        height: 100px;
        line-height: 100px;
        color: #fff;
        font-weight: bold;
    }
}
nav ul a {
    font-size: 1.3rem;
}
nav {
    position: fixed;
    top: 0;
    z-index: 1000;
}
.logo-img{
    width: 92px;
}
nav .brand-logo {
    line-height: initial;
}
/*FIRST BLOCK*/
h1 {
    font-size: 4.3rem;
    margin: 0 0 -37px 0;
    text-transform: uppercase;
}
.title-conference{
    color: #fff;
    text-align: center;
    width: 100%;}
#first-p {
    position: absolute;
    top: 195px;
    width: 100%;
}
#third-p {
    position: absolute;
    bottom: 140px;
    width: 100%;
}
.buttons {
    position: absolute;
    width: 100%;
    bottom: 50px;
}
.title-conference p {
    font-size: 37px;
}
/*ABOUT ACADEMY*/
.text-info {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    z-index: 3;
}
.text-info p {
    font-size: 22px;
}
.collapsible {
     border: none;
    box-shadow: none;
}
.pop-up-registration {
    width: 50%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.60);
    border-radius: 2px;
    padding: 15px;
}
/* TRENERS*/
#spikers {
    position: relative;
}
.trener{
    padding-left: .75rem ;
}
.card-image {
    width: 100%;
    height: 500px;
    background-size: cover;
}
.card .card-reveal {
    left: 13px;}

.card-reveal p{
    font-size: 21px;}

.card .card-title {
    font-size: 22px;}

.card {
    position: static;
    margin: .5rem 0 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.collapsible-header, .card .card-content {
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 2px;}
.collapsible-body {
    background-color: rgba(255, 255, 255, 0.50);
}
.card .card-reveal {
    padding: 24px;
    position: absolute;
    background-color: #6a2045;
    color: #fff;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 75%;
    height: auto;
    z-index: 3;
    display: none;
}
/*//TRENERS*/
ul#FAQ {
    border-radius: 2px;}

.burg {
    background: #6a2045;
}
.light-grey-ren {
    background: #c2c5cc;
}
.address {
    width: 325px;
    background: #ffffff;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.address p {
    margin: 5px;
    font-size: 18px;
}
.address .how-much {
    margin: 15px 0;
}
.layout-green {
    height: 100px;
    width: 325px;
    position: relative;
    top: -25px;
    left: -20px;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}
.block-price{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 2px;
}
.block-price p {
    margin: 5px auto ;
}
.img-price {
    height: 200px;
}
.about-price {
    width: 50%;text-align: center;
}
.address .how-much {
    font-size: 33px;
    line-height: 31px;
    text-align: center;
}

.input-field>label {
    color: #795ca7;
    font-size: 18px;
}
input[type=text]:not(.browser-default){
    border-bottom: 1px solid rgba(121, 92, 167, 0.87);
}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea,
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #795ca7;
    -webkit-box-shadow: 0 1px 0 0 #795ca7;
    box-shadow: 0 1px 0 0 #795ca7;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #4caf50;
    -webkit-box-shadow: 0 1px 0 0 #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #4caf50;
}


input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #795ca7;
}

.btn-registration {
    margin-left: 150px;
}
#FAQ li {
    background-image: linear-gradient(to top, #ffffffad, #ffffff75);
    margin-bottom: 10px;
    border-radius: 2px;
}
.soc {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 1000;
}
.soc img  , .soc a   {
    width: 100%;
    height: 50px;
}

.page-footer {
    background-color: #6a2045;
}
footer p {
    font-size: 14px;    line-height: 16px;
}
.copyright {font-size: 12px; text-align: center;}



/*TIMER*/
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #2e3131;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #575858;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
#deadline-messadge{
    display: none;
    font-size: 24px;
    font-style: italic;
}
#deadline-messadge.visible{
    display: block;
}
#clockdiv.hidden{
    display: none;
}
/*//TIMER*/

/*SLIDER*/

.slick-slide img {
    display: block;
    height: 500px !important;
    width: auto;
}

.carousel-item {
    margin: 0 15px;
}

.slick-dots li button {
    border: none;
    overflow: hidden;
}

.slick-dots li button:before {
    font-size: 50px;}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background: url('../img/arrow.png');
    background-size: contain;
}
.slick-prev {
    transform: rotate(180deg) translateY(50%);
}
.slick-prev:before, .slick-next:before {
    content: "";
}

.slick-dotted.slick-slider {
    margin-bottom: 75px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: url(../img/arrow.png);
    background-size: contain;
}
.slick-prev {
    left: 0;
    z-index: 2;
}
.slick-next {
    right: 0;
}
/*//SLIDER*/